* {
    box-sizing: border-box;
}
body {
    background-image: url("https://raw.githubusercontent.com/i-gau/cosw10-final-project/main/backimg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

body {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    font-family: 'Orienta', sans-serif;
    color: whitesmoke;
    text-shadow: 1px 1px 10px black;
    font-size: 22px;
    
}
.topnavbar {
    overflow: hidden;
    position: relative;
    background-color: darkslategray;
}

.topnavbar a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 30px 40px 0px 40px;
    text-decoration: none;
    font-size: 20px;
}

.topnav-rt {
    float: right;
}
h1 {
    text-align: center;
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
    font-size: 80px;
}
#works {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}
img {
    margin-top: 15px;
    margin-bottom: 25px;
}