* {
    box-sizing: border-box;
}

body {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Battambang', cursive;
    color: black;
    
    background-color: beige
    

}
.topnavbar {
    overflow: hidden;
    background-color: darkslategray;
}

.topnavbar a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 20px;
}

.topnav-rt {
    float: right;
}
h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}
#home {
    text-align: center;
}