* {
    box-sizing: border-box;
}
body {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Battambang', cursive;
    color: black;
    font-size: 22px;
    background-color: beige
    

}
.topnavbar {
    overflow: hidden;
    position: relative;
    background-color: darkslategray;
}

.topnavbar a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 30px 40px 0px 40px;
    text-decoration: none;
    font-size: 20px;
}

.topnav-rt {
    float: right;
}

h1 {
    text-align: center;
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
    font-size: 80px;
}
#home {
    text-align: center;
}
.column {
    column-count: 2;
    column-gap: 70px;
    word-wrap: normal;
    margin-left: auto;
    margin-right: auto;
}